<body>
  <div>
    <table>
      <h3>Create Article</h3>
      <tbody>
        <tr id="article-author-id" hidden="true">
          <th>author</th>
          <td><h3 id="article-author"></h3></td>
        </tr>
        <tr>
          <th scope="row">Title</th>
          <td><textarea cols="40" rows="2" id="article-title-input"></textarea></td>
          <td><h3 id="article-title"></h3></td>
        </tr>
        <tr>
          <th scope="row">Content</th>
          <td><textarea cols="80" rows="16" id="article-content-input"></textarea></td>
          <td><h3 id="article-content"></h3></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="back()" id="back-create-article-button">back</button>
    <button (click)="confirm()" id="confirm-create-article-button">confirm</button>
    <button (click)="previewMode()" id="preview-tab-button">preview</button>
    <button (click)="inputmode()" id="write-tab-button">write</button>
  </div>
</body>
